<h2> Productos </h2>
<hr>
<a class="btn btn-primary" href="/products/new" role="button">Agregar producto</a>
<hr>
<table>

	<tr>
		<thead>
			<th>Nombre</th>
			<th>Descripcion</th>
			<th>Precio</th>
		</thead>
	</tr>

<% @products.each do |producto| %>
	<tr>
		<td><%= link_to producto.name, product_path(producto) %> </td>
		<td><%= producto.description %> </td>
		<td><%= producto.price %> </td>
		
		<td>
			<% if user_signed_in? %>
				<%= link_to "Editar", edit_product_path(producto) %>
				<%= link_to "Eliminar", producto, method: :delete, data: { confirm: "Seguro que quieres borrar?"} %>
			<% end %>

		</td>
	</tr>
<% end %>

</table>